# Uma ou várias chaves NVIDIA. Para várias, separe por vírgula ou coloque uma por linha.
NVIDIA_API_KEY=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
NVIDIA_API_KEY=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
NVIDIA_API_KEY=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
# NVIDIA_API_KEYS=nvapi-CHAVE1,nvapi-CHAVE2,nvapi-CHAVE3
# NVIDIA_API_KEY_POOL=nvapi-CHAVE1\nnvapi-CHAVE2

# Opcional: deixe vazio para o Jarvis descobrir automaticamente os modelos disponíveis.
# NVIDIA_MODEL=

# Opcional
# NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
# JARVIS_PORT=8000
